@import '../../../../shares/stylings/variables';

section {
  width: 100%;
  background-color: $light-color;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  
  .description {
    
    .info-container {
        margin-bottom: 0.25em;

      .info-element {
        display: inline-block;
        padding-left: 1em;
      }
      
      .info-container:last-child {
        margin-bottom: 0;
      }
    }
    
    .activeCompetitions {
      .info-element:first-child {
        padding-left: 1em;
      }
      .info-element {
        display: block;
        padding-left: 1.5em;
      }
    }
    
    img {
      height: 1em;
      margin: 0 0.5em;
    }

    a {
      color: inherit;
      text-decoration: none;
      
      span:hover {
        color: $main-color;
      }
    }
  }
}

@media (min-width: 768px) {
  section {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
  
    .description {

      .info-container {
        margin-bottom: 0.5em;
      }
    }
  }
}