<div class="tableElement" [class.-odd-element]="(index + 1) % 2" [class.-current-team]="tableElement.team.id === teamId">
  <span class=" position">{{ tableElement.position }}</span>
  <div class="team">
    <div class="icon">
      <img [attr.src]="getTeamIconPath(tableElement.team.id)" (error)="getImageErrorHandler($event.target)">
    </div>
    <a [routerLink]="['/team/', tableElement.team.id]">{{ tableElement.team.name }}</a>
  </div>
  <span class="match-played">{{ tableElement.playedGames }}</span>
  <span class="won">{{ tableElement.won }}</span>
  <span class="draw">{{ tableElement.draw }}</span>
  <span class="lost">{{ tableElement.lost }}</span>
  <span class="goal-for">{{ tableElement.goalsFor }}</span>
  <span class="goal-against">{{ tableElement.goalsAgainst }}</span>
  <span class="goal-difference">{{ tableElement.goalDifference }}</span>
  <span class="points">{{ tableElement.points }}</span>
</div>