@import '../../../shares/stylings/variables';

.wrapper {
  width: 100%;
  background-color: $light-color;

  ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));

    li {
      padding: 0.5em 1em;
      text-align: center;
      line-height: 1em;
      border-bottom: 0.125em solid $match-groupe-common-color;
    }

    .-selected {
      border-bottom: 0.125em solid $main-color;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
  
    ul {
      font-size: 1.1em;
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));

      li {
        cursor: pointer;
      }
      
      li:hover {
        border-bottom: 0.125em solid $main-color;
        background-color: $match-color-hover;
      }
    }
  }
}