.team {
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  padding: 1em;
  display: grid;
  align-items: center;
  grid-template: '. . .' 1fr / auto 1fr auto;
  position: relative;

  .icon {
    height: 1.5em;
    margin-right: 0.5em;
  }
  
  .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0.5em;
  }
}

@media (min-width: 768px) {
  .team {
    font-size: 2em;
    
    .icon {
      height: 2em;
      margin-right: 1em;
    }
  }
}