// Import
@import '../../shares/stylings/variables';

// Styles
.-scheduled {
  grid-template: '. team-home icon-home start-time icon-away team-away .'  
  / 1em 7.5fr 1fr 2.25fr 1fr 7.5fr 1em;
  .start-time {
    font-weight: 600;
    text-align: center;
  }
  .icon-home,
  .icon-away,
  .start-time {
    justify-self: center;
  }

  // Grid Areas
  .start-time {
    grid-area: start-time;
  }
  .team-home {
    grid-area: team-home;
  }
  .icon-home {
    grid-area: icon-home;
  }
  .icon-away {
    grid-area: icon-away;
  }
  .team-away {
    grid-area: team-away;
  }
}

@media (min-width: 768px) {
  .-scheduled {
    grid-template: '. team-home icon-home start-time icon-away team-away .' 1fr
      / 2em 7.5fr 1fr 1.5fr 1fr 7.5fr 2em;
  }
}