@import '../../../shares/stylings/variables';

.wrapper {
  width: 100%;
  background-color: $light-color;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 33.33%;
      padding: 0.5em 1em;
      text-align: center;
      line-height: 1em;
      border-bottom: 0.125em solid $match-groupe-common-color;
    }

    .-selected {
      border-bottom: 0.125em solid $main-color;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
  
    ul {
      font-size: 1.1em;

      li {
        cursor: pointer;
      }
      
      li:hover {
        border-bottom: 0.125em solid $main-color;
        background-color: $match-color-hover;
      }
    }
  }
}