// Import
@import './shares/stylings/variables';

// Styles
.page-container {
  width: 100%;
  min-height: calc(100vh - 9.036125em);
  font-family: $deco-font;
  padding-bottom: 1em;
}

app-go-up-btn {
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  cursor: pointer;
}

@media (min-width: 768px) {
  .page-container {
    max-width: $wrapper-width;
    min-height: calc(100vh - 8.7363125em);
    margin: 0 auto;
    padding: 1.5em 0;
  }
}