<!-- @import -->
<app-svg-library></app-svg-library>
<link href="https://fonts.googleapis.com/css?family=KoHo:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

<!-- Header -->
<app-header></app-header>
<!-- Page -->
<div class="page-container">
  <router-outlet></router-outlet>
</div>
<app-go-up-btn></app-go-up-btn>
<!-- Footer -->
<app-footer></app-footer>