// Import 
@import '../../../../shares/stylings/variables';

.match {
  padding: 0.35em 0;
  margin-bottom: 0.125em;
  background-color: $match-color;
  display: grid;
  align-items: center;
  text-decoration: none;

  > * {
    font-size: 0.75em;
    color: $dark-text-color;
  }
  > img {
    width: 1.142857142857143em;
    height: 1.142857142857143em;
  }
  .team {
    font-family: $strict-font;
    text-decoration: none;
  }
  .team:hover {
    color: $main-color;
  }
  .team-home {
    text-align: end;
    justify-self: end;
  }
  .team-away {
    justify-self: start;
  }
  .score,
  .ht-score {
    font-family: $digit-font;
  }
  .current-time {
    font-weight: 600;
  }
  .ht-score {
    opacity: 0.75;
  }
  .score {
    font-weight: 500;
    justify-self: center;
  }
}

// Media
// Large Tablet
@media (min-width: 768px){
  .match {
    > * {
      font-size: 0.875em;
    }
  }

  .match:hover {
    background-color: $match-color-hover;
  }
}