<a [ngClass]="['match', currentClass]" [routerLink]="['/matches/', match.id]">
  <!-- Start Time -->
  <span class="start-time">{{ timePipe(match['utcDate']) }}</span>
  <!-- Current Time -->
  <div class="current-time" [ngSwitch]="match['status']">
    <span *ngSwitchCase="'FINISHED'">FT</span>
    <span *ngSwitchCase="'IN_PLAY'" class="-in-play">{{ getCurrentTime(match['utcDate'])[0] }}'</span>
    <span *ngSwitchCase="'PAUSED'">HT</span>
  </div>
  <!-- Home Team -->
  <a class="team-home team" [class.-winner]="match.commonStatus === 'FINISHED' && match.score.winner === 'HOME_TEAM'"
    [routerLink]="['/team/', match.homeTeam.id]" (click)="$event.stopPropagation()">{{ match['homeTeam']['name'] }}</a>
  <div class="icon-home icon">
    <img [attr.src]="getTeamIconPath('home')">
  </div>
  <!-- Score -->
  <span class="score-home score" *ngIf="match['status']!=='SCHEDULED'">{{ match['score']['fullTime']['homeTeam'] }}</span>
  <span class="divider">-</span>
  <span class="score-away score" *ngIf="match['status']!=='SCHEDULED'">{{ match['score']['fullTime']['awayTeam'] }}</span>
  <!-- Away Team -->
  <div class="icon-away icon">
    <img [attr.src]="getTeamIconPath('away')">
  </div>
  <a class="team-away team" [class.-winner]="match.commonStatus === 'FINISHED' && match.score.winner === 'AWAY_TEAM'"
    [routerLink]="['/team/', match.awayTeam.id]" (click)="$event.stopPropagation()">{{ match['awayTeam']['name'] }}</a>
  <!-- Half-Time Score -->
  <div class="ht-score" *ngIf="match['status']!=='SCHEDULED'">
    <span *ngIf="!getCurrentTime(match['utcDate'])[1]">({{ match['score']['fullTime']['homeTeam'] }}
      - {{ match['score']['fullTime']['awayTeam'] }})</span>
    <span *ngIf="getCurrentTime(match['utcDate'])[1]">({{ match['score']['halfTime']['homeTeam'] }}
      - {{ match['score']['halfTime']['awayTeam'] }})</span>
  </div>
</a>