<a [ngClass]="['match', currentClass]" [class.-odd-item]="(index + 1) % 2" [routerLink]="['/matches/', match.id]">
  <!-- Copetition -->
  <img class="competition-icon" [attr.src]="getCompetitionIconPath(match.competition.id)">
  <!-- Start Time -->
  <span class="start-day">{{ dayPipe() }}</span>
  <!-- Current Time -->
  <div class="current-time" [ngSwitch]="match.status">
    <span *ngSwitchCase="'IN_PLAY'" class="-in-play">{{ getCurrentTime(match['utcDate'])[0] }}'</span>
    <span *ngSwitchCase="'PAUSED'">HT</span>
  </div>
  <!-- Home Team -->
  <a class="team-home team" [class.-winner]="isHomeWinner(match['score']['winner'])" [routerLink]="['/team/', match.homeTeam.id]"
    (click)="$event.stopPropagation()">{{ match['homeTeam']['name'] }}</a>
  <img class="icon-home" [attr.src]="getTeamIconPath('home')">
  <!-- Score -->
  <span [ngClass]="['score-home', 'score', winStateClass]" *ngIf="match['status']!=='SCHEDULED'">{{
    match['score']['fullTime']['homeTeam'] }}</span>
  <span class="divider">-</span>
  <span [ngClass]="['score-away', 'score', winStateClass]" *ngIf="match['status']!=='SCHEDULED'">{{
    match['score']['fullTime']['awayTeam'] }}</span>
  <!-- Away Team -->
  <img class="icon-away" [attr.src]="getTeamIconPath('away')">
  <a class="team-away team" href="" [class.-winner]="isAwayWinner(match['score']['winner'])" [routerLink]="['/team/', match.awayTeam.id]"
    (click)="$event.stopPropagation()">{{ match['awayTeam']['name'] }}</a>
</a>