// Imports
@import '../../../../shares/stylings/variables';

// Styles
.-live {
  grid-template: 'competition-icon . current-time . team-home . icon-home . score . icon-away . team-away' 1fr
    / 0.5fr 0.5em 1.25fr 0.5em 4fr 0.5em 0.5fr 0.5em 1.25fr 0.5em 0.5fr 0.5em 4fr;

  .team-home,
  .icon-home {
    justify-self: end;
    text-align: end;
  }
  .current-time,
  .score {
    color: $live-color;
  }

  // State
  .-in-play {
    animation: blinking 1.5s linear 0.75s infinite alternate;
  }

  // Grid Areas
  .competition-icon {
    grid-area: competition-icon;
  }
  .current-time {
    grid-area: current-time;
  }
  .team-home {
    grid-area: team-home;
  }
  .icon-home {
    grid-area: icon-home;
  }
  .score {
    grid-area: score;
  }
  .icon-away {
    grid-area: icon-away;
  }
  .team-away {
    grid-area: team-away;
  }
}

@media (min-width: 768px) {
  .-live {
    grid-template: 'current-time . team-home . icon-home . score . icon-away . team-away . competition-icon' 1fr
      / 1fr 0.5em 6fr 1em 0.5fr 0.5em 1.25fr 0.5em 0.5fr 1em 6fr 0.5em 0.5fr;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
