// Import
@import '../../../../shares/stylings/variables';

// Styles
.-finished,
.-scheduled {
  grid-template: 'start-day . team-home . icon-home . score . icon-away . team-away . competition-icon' 1fr
    / 1.25fr 0.5em 4fr 0.5em 0.5fr 0.5em 1.25fr 0.5em 0.5fr 0.5em 4fr 0.5em 0.5fr;

  .-winner {
    font-weight: 700;
  }

  .start-day,
  .score,
  .icon-home,
  .icon-away,
  .competition-icon {
    justify-self: center;
  }
  
  // Grid Areas
  .start-day {
    grid-area: start-day;
  }
  .competition-icon {
    grid-area: competition-icon;
  }
  .team-home {
    grid-area: team-home;
  }
  .icon-home {
    grid-area: icon-home;
  }
  .score {
    grid-area: score;
  }
  .icon-away {
    grid-area: icon-away;
  }
  .team-away {
    grid-area: team-away;
  }
  .ht-score {
    grid-area: ht-score;
  }
}

@media (min-width: 768px) {
  .-finished,
  .-scheduled {
    grid-template: 'start-day . team-home . icon-home . score . icon-away . team-away . competition-icon' 1fr
    / 1fr 0.5em 6fr 1em 0.5fr 0.5em 1.25fr 0.5em 0.5fr 1em 6fr 0.5em 0.5fr;
  }
}
