@import '../../../shares/stylings/variables';

section {
  max-width: 56.25em;
  margin: 0 auto;
  position: relative;
  
  .wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 110;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    grid-auto-rows: 4em;
    align-items: center;
    justify-items: start;
    
    .league {
      width: 100%;
      height: 100%;
      display: table;
      color: inherit;
      text-decoration: none;
      
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      .imageWrapper {
        width: 5em;
        text-align: center;

        img {
          height: 2.25em;
        }
      }
      
      span {
        font-family: $deco-font;
        font-size: 1.1em;
      }
    }

    .league:hover {
      background-color: $match-color-hover;
      color: $main-color;
    }
  }
}